.home-background {
    background-color: rgba(98, 98, 98, 0.5);
    background-blend-mode: overlay; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 91vh;
  }
  .home-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
    
  }